<!-- <html>
<style>
    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #barra li{
        display: inline;
        margin:0 20px;
    }

</style>
<body>
    <ul id="barra", style="background-color:#1A5276; color:white">
        <li>Hospitalización</li>
        <li>Cirugía </li>
        <li>Servicios Clínicos</li>
        <li>Unidades Médicas</li>
        <li>Clínicas de Alta Especialidad</li>
        <li><a style="color:yellow" href="http://54.184.252.64:8000/menu/">Menu</a></li>
    </ul>
</body> -->
<div class="barra-wrapper">
<div id="page-title">{{page_title}}</div>
<div id="systime">
<script> 

var mydate=new Date();
var hours=mydate.getHours(); 
var minutes=mydate.getMinutes(); 
var seconds=mydate.getSeconds(); 

var year=mydate.getYear(); 
if (year < 1000) 
    year+=1900; 
var day=mydate.getDay(); 
var month=mydate.getMonth()+1; 
if (month<10) 
    month="0"+month; 
var daym=mydate.getDate(); 
if (daym<10) 
    daym="0"+daym;
if (hours<10) 
    hours="0"+hours;
if (minutes<10) 
    minutes="0"+minutes;
if (seconds<10) 
    seconds="0"+seconds;
document.write("<small> <font color='000000' face='Arial'><b> <br>Date: "+daym+"/"+month+"/"+year+" "+hours+":"+minutes+"</br></b></font></small>") 

</script> </div></div>
 {% load static %}
<!-- <img src="{% static "logo_Dalinde.jpg" %}"
            alt="Imagen Dalinde"
            width="100"
            height="70"
            align="right"
        ></img>
<img src="{% static "txt1_covid19.png" %}"
            alt="Imagen Dalinde"
            width="100"
            height="70"
            align="right"
        ></img> 
</html> -->
