{% extends "Base.html" %}

{% block title %} FALTANTES {% endblock %}%}

{% block content %}
    <h3 face='Arial'> FALTANTES REQUISIONES SIN ORDEN DE COMPRA</h3>
    <p>{{reqmedcode|length}} Request Patent Drugs without Purchase Orders</p>
    {%if reqmedcode%}
    <div class="table-wrapper">
    <table id="sort-me" class="results"> <thead> <tr> <th>Drug (Description)</th> <th>Request number</th> <th>Amount requested</th> </tr> </thead>
	<tbody>
            {% for medcode in reqmedcode %}
                <tr><td class="text">{{medcode.MedDescription}}</td><td class="numeric">{{medcode.RequestNumber}}</td><td class="numeric">{{medcode.AmountRequested}}</td></tr>
            {% endfor %}
    {% else %}
        <p> There isn't Patent Drugs with this Request Number </p>
        </tbody>
    </table>
</div>
    {% endif %}

{% endblock %}
