{% extends "Base.html" %}

{% block title %} MENU {% endblock %}%}

{% block content %}
    <ul>
        <li><a href="http://54.184.252.64:8000/admin/">Admin Django (Dalinde/ds4_2020)</a></li>
        <li><a href="http://54.184.252.64:8000/search/">Searching Request (List Patent Drugs in a Request)</a></li>
        <li><a href="http://54.184.252.64:8000/search_po/">Searching Purchase Order (List Patent Drugs in a Purchase Order)</a></li>
        <li><a href="http://54.184.252.64:8000/search_req/">Searching Request / PO (List Purchase Orders in a Request)</a></li>
        <li><a href="http://54.184.252.64:8000/search_req2/">Searching Request / PO - MedCode (List PO-Patent Drugs in a Request)</a></li>
        <li><a href="http://54.184.252.64:8000/search_pdi/">Apply PDI (MedCode Graph PDI)</a></li>
        <li><a href="http://54.184.252.64:8000/faltantes/">Faltantes (List Request/MedCode without Purchase Order)</a></li>
        <li><a href="http://54.184.252.64:8000/req_mc_form/">New Requests --> MedCodes</a></li>
        <li><a href="http://54.184.252.64:8000/dashboard/">DASHBOARD</a></li>
	<li><a href="http://54.184.252.64:8000/dashboard_top9/">DASHBOARD TOP9</a></li>
    </ul>
{% endblock %}
