{% extends "Base.html" %}

{% block title %} SEARCHING RESULTS {% endblock %}%}

{% block content %}
    <h3 face='Arial'> SEARCHING PURCHASE ORDERS </h3>
    <p>{{reqpos|length}} PO/MED with <strong>{{query}} </strong>Request Number:</p>
    {%if reqpos%}
        <ul>
            {% for po in reqpos %}
                <li>
                    PO {{po.PurchaseNumber}} &nbsp; {{po.MedDescription}} &nbsp; {{po.AmountPurchased}}
                </li>
            {% endfor %}
    {% else %}
        <p> There isn't Purchase Orders with this Request Number </p>
        </ul>
    {% endif %}

{% endblock %}
