{% extends "Base.html" %}

{% block title %} SEARCHING RESULTS {% endblock %}%}

{% block content %}
    <h3 face='Arial'> SEARCHING RESULTS PURCHASE ORDER </h3>
    <p>Request Number: <strong>{{req}} </strong></p>
    <p>{{poreqmedcode|length}} Patent Drugs in <strong>{{query}} </strong>Purchase Order:</p>
    <p>Supplier: <strong>{{sup}} </strong></p>
    {%if poreqmedcode%}
        <ul>
            <p>Qty&nbsp;MedCode&nbsp;&nbsp;MedCode-Description</p>
            {% for medcode in poreqmedcode %}
                <li>
                    {{medcode.AmountPurchased}}&nbsp;&nbsp;&nbsp;{{medcode.MedCode}} --&nbsp;&nbsp;{{medcode.MedDescription}}
                </li>
            {% endfor %}
    {% else %}
        <p> There isn't Patent Drugs with this Purchase Order Number </p>
        </ul>
    {% endif %}

{% endblock %}
