{% extends "Base.html" %}

{% block title %} SEARCHING RESULTS {% endblock %}%}

{% block content %}

      <h3 face='Arial'> SEARCHING RESULTS </h3>
    <p>{{reqmedcode|length}} Patent Drugs in <strong>{{query}} </strong>request:</p>
    {%if reqmedcode%}
        <ul>
            {% for medcode in reqmedcode %}
                <li>
                    {{medcode.MedCode}} &nbsp; {{medcode.AmountRequested}}
                </li>
            {% endfor %}
    {% else %}
        <p> There isn't Patent Drugs with this Request Number </p>
        </ul>
    {% endif %}

{% endblock %}
