.banner {
    height: 60px;
    margin: 0px -10px 10px;
    background-color: rgb(66,196,247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 60px;
}

.column {
    float: left;
    width: 60%;
}

.column2 {
    float: left;
    width: 40%;
}

.column5 p{
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    background-color: #666;
    height: 30px;
    margin: 20px;
    vertical-align: middle;
    text-align: center;
}

.column5 {
    float: left;
    width: 20%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}